<div class="user-details">
  <h1>My Expertise</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Code</h2>
    <p>I feel comfortable working on the backend - primarily Java / Spring!</p>
  </div>
<div>
<div class="user">
  <div class="tech">
    <h2>Blog</h2>
    <div class="header-links">
         <a class="link" href="https://dev.to/chaudharydeepak/primer-on-automated-testing-with-karate-dsl-11m8" data-scroll>Karate DSL1</a>
     </div>
  </div>
</div>
